<!-- Head -->
<%- include("./partials/head.ejs") %>
  
<body>

<!-- Header -->  
<%- include("./partials/header.ejs")%>

<div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/images/imagenes_home_banner/banner_motorola.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/images/imagenes_home_banner/banner_apple.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/images/imagenes_home_banner/banner_xiaomi.png" class="d-block w-100" alt="...">
    </div>
  </div>
  <button id="derecho" class = "carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<section class="home">
      <div class="contenedor-cards">
 <%products.forEach(element =>{  %>
        <div class="card-item">
          <div class="card-img">
            <a href="/products/productDetail/<%= element.id %>">
              <% if (element.imagenes_productos && element.imagenes_productos.length > 0) { %>
                <img src="/images/imageHome/<%= element.imagenes_productos[0].url_de_imagen %>" alt="<%= element.marca %>">
              <% } else { %>
                No hay imagen disponible
              <% } %>
          </div>
          <div class="info">
            <p> <%= element.marca %> - <%= element.modelo %></p>
            <p>$<%= element.precio %></p>

           <a href="/productCart"><button>3 Cuotas sin interes</button></a> 
          </div>
        </div>
<% }); %>
      
    </section>

    <!-- Footer -->
<%- include("./partials/footer.ejs")%>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>