<!-- Head -->
<%- include("../partials/head.ejs") %>
  
<body class="contenedor_body_dashboard">
  
    
    <h2>Lista de Productos</h2>
  <table>
    <thead>
        <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Imagen</th>
        <th>Detalles</th>
        <th>Acciones</th>
      </tr>
      </thead>
    <tbody>
      <% products.forEach(element => { %>
        <tr>
          <td><%=element.id%></td>
          <td><%=element.name%></td>
          <td><img src="/images/imageHome/<%= element.image %>" alt="<%= element.name %>"></td>
          <td><%=element.description%></td>
          <td>
            <a href="./productEdit.ejs">Editar</a>
            <a href="/update/">Actualizar</a>
            <form action="/products/delete/<%= element.id%>?_method=delete" method="post">
              <button type="submit">Eliminar</button>
            </form>  
          </td>
        </tr>
        <% })%>    
    </tbody>
  </table>
  <form action="/create" method="post">
  <button type="submit">Crear Producto</button>
</form>
</body>
</html>
