<!-- Head -->
<%- include("../partials/head.ejs") %>

<body>
  <%- include("../partials/header.ejs")%>
 
<div class="contenedor_body_dashboard">
  <script type="text/javascript">
    function confirmacion(){
        let respuesta = confirm("¿Estas seguro de eliminar este producto?");

        if (respuesta == true){
            return true;
        } else {
            return false;
        }
    }
    
</script>
    <h2>Lista de Productos</h2>
    <form action="/create" method="post">
      <a href="/products/productCreate_form">Crear Producto</a>
      </form>
  <table>
    <thead class="cabecera_dashboard">
        <tr>
        <th>ID</th>
        <th>Marca</th>
        <th>Imagen</th>
        <th>Modelo</th>
        <th>Precio</th>
        <th>Almacenamiento</th>
        <th>Ram</th>
        <th>So</th>
        <th>Descripción</th>
        <th>Acciones</th>
      </tr>
      </thead>
    <tbody>
      <% productos.forEach(element => { %>
        <tr>
          <td><%=element.id%></td>
          <td><%=element.marca%></td>
          <td>
            <% if (element.imagenes_productos && element.imagenes_productos.length > 0) { %>
              <img src="/images/imageHome/<%= element.imagenes_productos[0].url_de_imagen %>" alt="<%= element.marca %>" class="imagen_prod_dashboard">
            <% } else { %>
              No hay imagen disponible
            <% } %>
          </td>
          <td><%=element.modelo%></td>
          <td><%=element.precio%></td>
          <td><%=element.almacenamiento%></td>
          <td><%=element.ram%></td>
          <td><%=element.so%></td>
          <td><%=element.descripcion%></td>
          <td>
            <a href="/products/productDetail/<%= element.id %>">Ver producto</a> 
            <a href="/products/productEdit/<%= element.id %>">Editar</a>
            <form action="/products/delete/<%= element.id%>?_method=delete" method="post">
              <button type="submit" onclick="return confirmacion()" class="boton_eliminar_dashboard">Eliminar</button>
            </form> 
          </td>
        </tr>
        <% }) %>
    </tbody>
   </table>
</div>
</body>
</html>
