<!-- Head -->
<%- include("../partials/head") %>
<body class="body-cart">


<!-- Header -->
<%- include("../partials/header.ejs")%>

    <main class="main-cart">


<section class="mis_productos">
    <h3>Mis Productos</h3>
     <% if (productsInCart.length == 0) { %>
            <p class="textp" >No hay productos en el carrito.</p>
            <div class="btn-volver-inicio">
            <a  href="/">Regresar para comprar</a>
          <% } else { %>
          </div>
    <article>
       
      
      
      <table class="table cart-table">
        <thead>
          <tr>
            <th>Imagen</th>
            <th>Producto</th>
            <th>Precio</th>
            <th>Cantidad</th>
            
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% productsInCart.forEach(product => { %>
            <tr>
                <td data-label="Imagen"><img src="/images/imageHome/<%= product.imagenes_productos[0].url_de_imagen %>" alt="vista frontal" class="dimensionar_imagen_celu_principal"></td>
              <td data-label="Producto"><%= product.modelo %></td>
              <td data-label="Precio">$<%= product.precio %></td>
              <td data-label="Cantidad" >
      
        <input type="number" name="quantity" value="1" min="1" max="99" data-product-id="<%= product.id %>" onchange="updateTotal()">
      </td>
             
              <td>
                
                <form action="/products/removeFromCart" method="post" class="formProduct">
                  <input type="hidden" name="productId" value="<%= product.id %>">
                  <button class="remove-single-btn" type="submit">Eliminar</button>
                </form>
              </td>
            </tr>

          <% }); %>
        </tbody>
      </table>
      
      <section class="compra">
        <h3 class="resumen-producto">Resumen de Pedido</h3>
        <div class="total">
            <p style="color: white">Total: $<%= totalPrecio.toFixed(2) %></p>
          </div>
            
                    
              
                
                    
    </section>
    <form class="form2" id="removeAllForm" action="/products/removeFromCart" method="post">
        <button class="remove-all-btn" type="submit">Eliminar todos los productos</button>
        <a class="comprar-mas" href="/">Agregar más productos</a>
      </form>
      <% } %>
</section>
   
</main>

  <script src="/js/cart/carrito.js"></script>

<!-- Footer -->
<%- include("../partials/footer.ejs")%>

    
</body>
</html>