<!-- Head -->
<%- include("../partials/head") %>
<body class="ordenar_body">
  
<!-- Header -->
<%- include("../partials/header.ejs")%>
   
   <main class="fondo">
      <div class="titulo_marca_modelo titulo_desktop">
          
              <h3 ><%= product.modelo %></h3>
              <h4 ><%= product.marca %></h4>
       
      </div>
    
      <article class="celular_frontal desktop_celular_frontal">
        
        <% if (product.imagenes_productos && product.imagenes_productos.length > 0) { %>
          <img src="/images/imageHome/<%= product.imagenes_productos[0].url_de_imagen %>" alt="vista frontal" class="dimensionar_imagen_celu_principal">
      <% } else { %>
          <p>No hay imágenes disponibles para este producto.</p>
      <% } %>
      
      </article>
   
     
        <h2>Imágenes del Producto:</h2>
        <% for(let i=0; i<imagen.length; i++) { %>
            <img src="/images/imageHome/<%= imagen[i].url_de_imagen %>" alt="Imagen <%= imagen[i].url_de_imagen %>">
        <% } %>
    </article>
      
      <div class="formulario_opcion_color">
        
        <h5 class="texto_color">COLOR</h5>
        
        <form action="" method="get"></form>
        <input type="radio" name="opcion color" class="circulo_tamaño circulo_purpura"><input type="radio" name="opcion color" class="circulo_tamaño circulo_negro">
      
      </div>

        <snap class="aumentar_tamaño_descripcion_del_equipo desktop_posicion_inferior_descripcion_h5">
             <h5 class="descripcion_del_equipo desktop_descripcion_h5">Descripción: <%= product.descripcion %></h5>
        </snap>
    
        <snap class="snap_h6 desktop_snap_h6">
             <h6 class="caracteristicas desktop_caracteristicas">ALMACENAMIENTO <%= product.almacenamiento %>GB</h6>
             <h6 class="caracteristicas desktop_caracteristicas">Sistema Operativo <%= product.so %></h6>
             <h6 class="caracteristicas desktop_caracteristicas">RAM <%= product.ram %>GB</h6>
             <h6 class="caracteristicas desktop_caracteristicas">CAMARA FRONTAL 32MPX</h6>
        </snap>

      <div class="separar_centrar_boton_submit desktop_botones_submit">
        <form action="" method="get"></form>
        <p>Precio: $<%= product.precio %></p>
        <button type="submit" class="boton_comprar">COMPRAR</BUtton>
        
       
      <form action="/products/addToCart" method="post">
        <input type="hidden" name="productId" value="<%= product.id %>">
        <button type="submit" class="boton_agregar">AGREGAR AL CARRITO</button>
      </form>

      </div>
   
   </main>

<!-- Footer -->   
   <%- include("../partials/footer.ejs")%>

</body>
</html>
