<!-- Head -->
<%- include("../partials/head") %>
<body class="ordenar_body">
  
<!-- Header -->
<%- include("../partials/header.ejs")%>
   
   <main class="fondo">
      <div class="titulo_marca_modelo titulo_desktop">
          
              <h3 ><%= producto.modelo %></h3>
              <h4 ><%= producto.marca %></h4>
       
      </div>
    
      <article class="celular_frontal desktop_celular_frontal">
        <% if (producto.imagenes_productos && producto.imagenes_productos.length > 0) { %>
          <img src="/images/imageHome/<%= producto.imagenes_productos[1].url_de_imagen %>" alt="<%= producto.marca %>" class="dimensionar_imagen_celu_principal">
        <% } %>
      </article>
      <h2>Imágenes del Producto:</h2>
     <div class="galeria_de_imagenes_detalle">
        
        <% for(let i=0; i<imagen.length; i++) { %>
            <img src="/images/imageHome/<%= imagen[i].url_de_imagen %>" alt="Imagen <%= imagen[i].url_de_imagen %>">
        <% } %>
      </div>
      
      <div class="formulario_opcion_color">
        
        <h5 class="texto_color">COLOR</h5>
        
        <form action="" method="get"></form>
        <input type="radio" name="opcion color" class="circulo_tamaño circulo_purpura"><input type="radio" name="opcion color" class="circulo_tamaño circulo_negro">
      
      </div>

        <snap class="aumentar_tamaño_descripcion_del_equipo desktop_posicion_inferior_descripcion_h5">
             <h5 class="descripcion_del_equipo desktop_descripcion_h5">Descripción: <%= producto.descripcion %></h5>
        </snap>
    
        <snap class="snap_h6 desktop_snap_h6">
             <h6 class="caracteristicas desktop_caracteristicas">ALMACENAMIENTO <%= producto.almacenamiento %>GB</h6>
             <h6 class="caracteristicas desktop_caracteristicas">Sistema Operativo <%= producto.so %></h6>
             <h6 class="caracteristicas desktop_caracteristicas">RAM <%= producto.ram %>GB</h6>
             <h6 class="caracteristicas desktop_caracteristicas">CAMARA FRONTAL 32MPX</h6>
        </snap>

      <div class="separar_centrar_boton_submit desktop_botones_submit">
        <form action="" method="get"></form>
        <p>Precio: $<%= producto.precio %></p>
        <button type="submit" class="boton_comprar">COMPRAR</BUtton>
        
        <form action="" method="get"></form>
        <a href="/products/productCart"><button type="submit" class="boton_agregar">AGREGAR AL CARRITO</BUtton></a>
      </div>
   
   </main>

<!-- Footer -->   
   <%- include("../partials/footer.ejs")%>

</body>
</html>
