<!-- Head -->
<%- include("../partials/head.ejs") %>
<body>
<!-- Header -->
 <%- include("../partials/header.ejs")%>
    <section class="seccion-perfil-usuario">
        <div class="perfil-usuario-header">
            <div class="perfil-usuario-portada">
                <div class="perfil-usuario-avatar">
                    <img src=" /images/users/<%= usuario.imagen_usuario %> " alt="img-avatar">
                </div>
            </div>
        </div>
        <div class="perfil-usuario-body">
            <div class="perfil-usuario-bio">
                <h3 class="titulo"> <%= usuario.nombre %> <%= usuario.apellido %></h3>
            </div>
            <div class="perfil-usuario-footer">
                <ul class="lista-datos">
                    <li>Telefono: <%= usuario.telefono %></li>
                    <li>email: <%= usuario.email %></li>
                    <li>direccion: <%= usuario.direccion %></li>
                </ul>
                <ul class="lista-datos">
                    <!-- <li>Edite su perfil:</li> -->
                
                    <% if (usuario && usuario.id_entidad_usuario == "2") { %>
                        <a href="/products/Dashboard"><button class="button_edit_profile">Dashboard</button></a>
                    <% } %>
                    <a href="/users/userUpdate/<%= usuario.id %>"><button class="button_edit_profile">Edite su perfil</button></a>
                    <!-- <li></li> -->
                </ul>
            </div>
            
        </div>
        
    </section>
  <!-- Footer -->
  <%- include("../partials/footer.ejs")%>

</body>
</html>