<!-- Head -->
<%- include("../partials/head.ejs") %>
  
<body class="body-register">
    <div class="login-container">
    
      <div class="logo">
        <a href="/"><img class="img-general" src="/images/register-img/logo.png" alt="imagen logo">
        </a>
          
      </div>
          
      <div class="form-registro">
        <img class="login-img" src="/images/register-img/login.png" alt="imagen login" />
      <h1>Crea una cuenta</h1>
      <form action="/users/register" method="post" class="main__form__register" enctype="multipart/form-data">
        <div class="form-group">
          <label class="label-general" for="name">Nombre</label>
          <input
            class="input-general"
            type="text"
            id="name"
            name="name"
            placeholder="Ingresa tu nombre"
            value="<%= locals.old && old.name ? old.name : null %>"
            
          />
          <p class="nameError">
            <%= locals.errores && errores.name ? errores.name.msg : null %>
          </p>
          
        </div>
        <div class="form-group">
          <label class="label-general" for="imagen_usuario">Foto de Perfil</label>
      <input class="input-general" type="file" name="imagen_usuario" id="imagen_usuario" accept="image/*" value="<%= locals.old && old.imagen_usuario ? old.imagen_usuario : null %>" >

      <p class="imageError">
        <%= locals.errores && errores.imagen_usuario ? errores.imagen_usuario.msg : null %>
      </p>
      
        </div>
        
        <div class="form-group">
            <label class="label-general" for="apellido">Apellido</label>
            <input
              class="input-general"
              type="text"
              id="apellido"
              name="apellido"
              placeholder="Ingresa tu apellido"
              value="<%= locals.old && old.apellido ? old.apellido : null %>"
            />
            <p class="apellidoError">
              <%= locals.errores && errores.apellido ? errores.apellido.msg : null %>
            </p>
    
            
          </div>
          <div class="form-group">
            <label class="label-general" for="email">Email</label>
            <input
              class="input-general"
              type="email"
              id="email"
              name="email"
              placeholder="Ingresa tu email"
              value="<%= locals.old && old.email ? old.email : null %>"
            />
            <p class="emailError">
              <%= locals.errores && errores.email ? errores.email.msg : null %>
            </p>
            
            
          </div>

          <div class="form-group">
            <label class="label-general" for="password">Contraseña</label>
            <div class="password-container">
              <input
                class="input-general"
                type="password"
                id="password"
                name="password"
                placeholder="Ingresa tu contraseña"
                value="<%= locals.old && old.password ? old.name : null %>"
              />
              <p class="passError">
                <%= locals.errores && errores.password ? errores.password.msg : null %>
              </p>
              
            </div>
          </div>
        <div class="form-group2">
          <div class="check">
           <input class="input-general" type="checkbox" name="checkbox">
          </div>
          <a class="terminos-condiciones" href="https://imgv2-2-f.scribdassets.com/img/document/241730362/original/36765cac31/1698250969?v=1" target="_blank">
            He leído y acepto los 
            <span class="terminos">términos y condiciones</span> 
            </a>
            <p><%= locals.errores && errores.checkbox ? errores.checkbox.msg : null %> </p>
            
        </div>
         
          <div id="error-registerUser">Errores en los datos para la creacion de Usuario</div> 
        
        <button class="crear-cuenta button-general" type="submit">Crear cuenta</button>
      </form>
      <h6 class="title-h6">O crea tu cuenta con</h6>
      <div class="social-buttons">
            <i id="go" class="fa-brands fa-google"></i>
            <a href='/users/auth/google' id="btn-go" class="button-general">Google</a>
            <i id="fb" class="fa-brands fa-facebook"></i>
            <button onclick="window.open('https://www.facebook.com', '_blank')" id="btn-fb" class="button-general">Facebook</button>
      </div>
      <div class="iniciar-cuenta">
       <h4 class="h4-cuenta">¿Ya tienes una cuenta?</h4>
       <a class="btn-sesion" href="/users/login">Inicia Sesión</a>
      </div>
    </div>
    </div>
    <script src="/js/validationRegister.js"></script>
  </body>
</html>