<!-- Head -->
<%- include("../partials/head.ejs") %>
  <!-- Header -->
  <%- include("../partials/header.ejs")%>
  
<body class="body-register">

    <div class="login-container">
      <script type="text/javascript">
        function confirmacion(){
            let respuesta = confirm("¿Estas seguro de modificar los datos?");
    
            if (respuesta == true){
                return true;
            } else {
                return false;
            }
        }
        
    </script>
      <div class="form-registro">
      <img class="login-img" src="/images/register-img/login.png" alt="imagen login" />
      <h1>Editar perfil</h1>
      <form action="/users/userUpdate/<%= usuario.id_usuario %>?_method=PUT" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <div class="input-group mb-3">
            <img src="/images/usersProfile/<%= usuario.imagen %>" alt="imagen de perfil" class = "imagen_perfil">
            <label for="image" class="label-general">Foto de perfil</label>
            <input 
            class="input-general" 
            type="file" 
            id="image" 
            name="image"
            accept="image/*"
            single>
        </div>
          <label class="label-general" for="nombre">Nombre</label>
          <input
            class="input-general"
            type="text"
            id="nombre"
            name="nombre"
            placeholder="Ingresa tu nombre"
            value="<%= locals.old && old.nombre ? old.nombre : usuario.nombre %>"
          />
          <p class="errors_form_edit_user"><%= locals.errores && errores.nombre ? errores.nombre.msg : null %> </p>
        </div>
        
        <div class="form-group">
            <label class="label-general" for="apellido">Apellido</label>
            <input
              class="input-general"
              type="text"
              id="apellido"
              name="apellido"
              placeholder="Ingresa tu apellido"
              value="<%= locals.old && old.apellido ? old.apellido : usuario.apellido %>"
              
            />
            <p class="errors_form_edit_user"></p>
          </div>

          <div class="form-group">
            <label class="label-general" for="direccion">Dirección</label>
            <input
              class="input-general"
              type="text"
              id="direccion"
              name="direccion"
              placeholder="Dirección"
              value="<%= locals.old && old.direccion ? old.direccion : usuario.direccion %>"
            />
            <p class="errors_form_edit_user"></p>
          </div>

          <div class="form-group">
            <label class="label-general" for="email">Email</label>
            <input
              class="input-general"
              type="email"
              id="email"
              name="email"
              placeholder="Ingresa tu email"
              value="<%= locals.old && old.email ? old.email : usuario.email %>"
              
            />
          </div>

          <!-- <div class="form-group">
            <label class="label-general" for="password">Contraseña</label>
            <div class="password-container">
              <input
                class="input-general"
                type="text"
                id="password"
                name="password"
                placeholder="Ingresa tu contraseña"
                
              />
              <i class="fa-solid fa-eye main-icon"></i>
            </div>
          </div> -->
        
        <div class="form-group">
          <label class="label-general" for="telefono">Telefono</label>
          <input
            class="input-general"
            type="text"
            id="telefono"
            name="telefono"
            placeholder="Indique su telefono"
            value="<%= locals.old && old.telefono ? old.telefono : usuario.telefono %>"
            />
            <p class="errors_form_edit_user"></p>
          </div>

        <!-- <div class="form-group">
          <label class="label-general" for="postalCode">Código postal</label>
          <input
            class="input-general"
            type="number"
            id="postalCode"
            name="postalCode"
            placeholder="Indique su código postal"
            
            />
            <p class="errors_form_edit_user"></p>
          </div> -->

        <!-- <div class="form-group">
          <label class="label-general" for="tel">Número de celular</label>
          <input
            class="input-general"
            type="tel"
            id="tel"
            name="tel"
            placeholder="Número de celular: sin 0 ni 15"
            
            />
            <p class="errors_form_edit_user"></p>
          </div> -->
<!-- 
        <div class="form-group">
          <label class="label-general" for="birthDate">Fecha de nacimiento: </label>
          <input
            class="input-general"
            type="date"
            id="birthDate"
            name="birthDate" -->
            
            />
            <p class="errors_form_edit_user"></p>
          </div>
        <button class="crear-cuenta button-general" type="submit" onclick="return confirmacion()">Guardar cambios</button>
        <button class="borrar-cuenta button-general" type="reset" >Reiniciar cambios</button>
      </form>
    </div>
    </div>

  </body>
      <!-- Footer -->
      <%- include("../partials/footer.ejs")%>
</html>